<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">MyCompanyWebsite</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="addcompany">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Add New Company
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="findcompanybyisin">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Find Client by ISIN
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="findcompanybyid">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Find Company by ID
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="updateexistingcompany">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Update Company
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="allcompanys">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Our Companys
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
